@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik Puddles', cursive;
}

body{
    height: 100%;
    background: rgb(0, 0, 0) !important;
}

.row{
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 145px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

    .btn1{
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    .btn1:hover{
        background: white;
        border: 1px solid;
        color: black;
    }

    .titulo-form{
        font-family: Arial, Helvetica, sans-serif;
    }